# Basic data structure in python 
## 1- Tuples
## 2- List
## 3- Dictionaries
## 4- Set

## 1- Tuples
### - order collection of elements
### - enclosed in round bracket () / paranthesis
### - different kinds of elements can be used
### - once elements are stored you can not change or unmuted

In [3]:
tup1 = (1, "python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [4]:
# type of tuple
type(tup1)

tuple

### - Indexing in tuple

In [7]:
tup1[1], tup1[2]

('python', True)

In [8]:
len(tup1)

4

In [12]:
tup1[0:4] # last index is exclusive

(1, 'python', True, 2.5)

In [14]:
tup2 = (2, "baba ammar", 3.4, False)
tup2

(2, 'baba ammar', 3.4, False)

In [20]:
## concatinate (to add two or more than two tuples)
tup1+tup2

(1, 'python', True, 2.5, 2, 'baba ammar', 3.4, False)

In [17]:
tup1*2+tup2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'baba ammar', 3.4, False)

In [18]:
tup3 = (20, 30, 40, 50)
tup3

(20, 30, 40, 50)

In [19]:
# min and max
min(tup3), max(tup3)

(20, 50)

## 2 - List
- ordered collection of elements
- enclosed in [] square braces/bracket
- Mutateable, you can change the values

In [21]:
list1 = [2, 'baba ammar', False]
list1

[2, 'baba ammar', False]

In [22]:
# type of list
type(list1)

list

In [23]:
len(list1)

3

In [31]:
list1[2]

False

In [37]:
list2 = [30, "shery=h", False, 49.3, 43, 1]
list2

[30, 'shery=h', False, 49.3, 43, 1]

In [33]:
list1 + list2

[2, 'baba ammar', False, 30, 'shery==i24uh', False, 49.3, 43, 1]

In [34]:
list1*2

[2, 'baba ammar', False, 2, 'baba ammar', False]

In [38]:
list1*2 + list2

[2,
 'baba ammar',
 False,
 2,
 'baba ammar',
 False,
 30,
 'shery=h',
 False,
 49.3,
 43,
 1]

In [41]:
list1.reverse()
list1

[False, 'baba ammar', 2]

In [46]:
## append function for adding something in the list
list1.append("sher;y is learning python")
list1

[False,
 'baba ammar',
 2,
 'sher;y is learning python',
 'sher;y is learning python',
 'sher;y is learning python',
 'sher;y is learning python']

In [48]:
## clear list elements
list1.clear()
list1

[]

In [50]:
list3 = [20, 30, 49, 55, 43, 800, 880, 343, 23]
list3

[20, 30, 49, 55, 43, 800, 880, 343, 23]

In [51]:
# sorting a list
list3.sort()
list3

[20, 23, 30, 43, 49, 55, 343, 800, 880]

In [52]:
list3*2

[20, 23, 30, 43, 49, 55, 343, 800, 880, 20, 23, 30, 43, 49, 55, 343, 800, 880]

In [53]:
list2 + list3

[30, 'shery=h', False, 49.3, 43, 1, 20, 23, 30, 43, 49, 55, 343, 800, 880]

## 3- Dictionaries
- An unordered collection of elements
- key and value
- curly braces or brackets {}
- Mutateable/ change the values

In [57]:
# Food and their prices
food1 = {"Samosa":30, "Pakora":100, "Salad": 50, "Chiken rolls":30, "Raita":20}
food1

{'Samosa': 30, 'Pakora': 100, 'Salad': 50, 'Chiken rolls': 30, 'Raita': 20}

In [58]:
type(food1)
dict

dict

In [62]:
# extract data
keys1 = food1.keys()
keys1

dict_keys(['Samosa', 'Pakora', 'Salad', 'Chiken rolls', 'Raita'])

In [63]:
values1 = food1.values()
values1

dict_values([30, 100, 50, 30, 20])

In [65]:
## adding new element
food1["Tikki"]=10
food1

{'Samosa': 30,
 'Pakora': 100,
 'Salad': 50,
 'Chiken rolls': 30,
 'Raita': 20,
 'Tikki': 10}

In [66]:
# update the values
food1["Tikki"]= 15
food1

{'Samosa': 30,
 'Pakora': 100,
 'Salad': 50,
 'Chiken rolls': 30,
 'Raita': 20,
 'Tikki': 15}

In [67]:
food2 = {"Dates":50, "Choclates":300, "Siwaiyan":100}
food2

{'Dates': 50, 'Choclates': 300, 'Siwaiyan': 100}

In [69]:
# Concatinate
food1.update(food2)
food1

{'Samosa': 30,
 'Pakora': 100,
 'Salad': 50,
 'Chiken rolls': 30,
 'Raita': 20,
 'Tikki': 15,
 'Dates': 50,
 'Choclates': 300,
 'Siwaiyan': 100}

## 4- Set
- unordered and unindexed
- curly braces are used
- No duplicates are allowed

In [70]:
# bolean operators can't be used

s1= {1, 2.2, 3, 5.5, "Shery", "Codanics", "Karachi", True}
s1

{1, 2.2, 3, 5.5, 'Codanics', 'Karachi', 'Shery'}

In [72]:
s1.add("Shery1")
s1

{1, 2.2, 3, 5.5, 'Codanics', 'Karachi', 'Shery', 'Shery1'}

In [73]:
s2 = {1, 4, 5, 45, 69, "Shery12", "Code running", 4.5}
s2

{1, 4, 4.5, 45, 5, 69, 'Code running', 'Shery12'}

In [79]:
# How to use copy function in set
s1 = s2.copy()
s1

{1, 4, 4.5, 45, 5, 69, 'Code running', 'Shery12'}